torch_experiment.py
logs/
sounds/
sounds2/
dataset/
dataset2/
dataset3/
dataset4/
dataset5/
dataset6/
dataset7/
dataset8/
dataset9/
dataset10/
dataset11/
dataset12/
images/
checkpoints/
.logs/
__pycache__/
models/__pycache__/
*~
*.sh
*.pkl
*.npy
*#
*#*